{
  "host": "127.0.0.1",
  "port": 21021,
  "connection": {
    "dialect": "postgres",
    "host": "127.0.0.1",
    "port": 5432,
    "username": "cubismo",
    "password": "cubismo"
  },
  "apiKey": "I4tvZJ63ybbBCIq5aicHrsp1rulWAEMnvUyPU4pBXUvHwS8v57pp3N4MNwLfkDQP",
  "apiKeyHeader": "W4qebdsUag",
  "tokenKey": "hgf8bdsnvc4h434t0vg34vn3t54",
  "cubes": "/home/maxim/projects/cubismo.apps/cubes",
  "defaults": {
    "workspaces": "/home/maxim/projects/cubismo.apps/workspaces",
    "connection": {
      "host": "127.0.0.1",
      "port": 5432,
      "dialect": "postgres",
      "username": "cubismo",
      "password": "cubismo"
    }
  },
  "templates": {
    "optima": [
      "Common",
      "Connector1C",
      "ExtDB",
      "Inventory",
      "Marketplaces",
      "MarketplacesAPI",
      "Optima",
      "Server",
      "Wildberries",
      "Wildberries1C",
      "WildberriesAPI"
    ]
  }
}